<div class="container" class="panel panel-primary" ng-init="displayDetails()">
    <div class="panel panel-default">
        <div class="panel-heading">
            <span>
                <h3 style="display: inline;">Hi, {{contributorObj.username}}</h3>
            </span>
            <span style="float: right;">
                <h3 style="display: inline;">Your Balance is {{contributorObj.tokenBalance}}</h3>
            </span>
        </div>

        <div class="row">
            <div class="col-md-1"></div>
            <div class="col-md-8">
                <br/>
                <br/>
                <br/>
                <span class="alert alert-danger" role="alert" ng-show="hideErrorMsg" ng-cloak>{{errorMessage}}</span>

                <h3> Your contributions: </h3>
                <div ng-repeat="task in taskList | filter: filterCompletedTasks">
                    <div class="well">
                        <h4>{{task.Name}}</h4>
                        <p>{{task.Description}}</p>
                    </div>
                </div>
            </div>
            <div class="col-md-3"></div>
        </div>
    </div>
</div>